.main {
  position: relative;
  isolation: isolate;
  min-height: 100vh;
}

.bg {
  position: absolute;
  inset: 0;
  z-index: 0;
  pointer-events: none;
}

.scrollFloatContainer {
  position: relative;
  width: 100%;
  overflow: hidden;
}

.passionContainer {
  position: relative;
  width: 100%;
  overflow: hidden;
}

.auroraBg {
  position: absolute;
  inset: 0;
  z-index: 0;
  pointer-events: none;
}

.scrollFloatContent {
  position: relative;
  z-index: 10;

  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
